.cardinal {
    font-size:14px;
    color:#800000;
}
.emphatic {
     padding:12px;
     height:50px;
}
.grey {
    color:grey;
}
.cbox {
    padding: 5px;
}
.cbox-panel {
    padding:  5px 5px 5px 15px;
}
.droptarget {
    border:1px solid #cecece;
    padding: 0px;
}
.draggable {

}
.panel {
    border-radius: 4px;
    border: 1px solid lightgrey;
}
.panel-heading {
    color: #333;
    border-radius: 4px;
    border-color: #ddd;
    margin: 0pt -10pt 0 -10pt;
    padding: 5pt 0pt 0 10pt;
}

.tier-1 {
    background-color: #daf1c4;
}

.tier-2 {
    background-color: #c7ecf1;
}

.tier-3 {
    background-color: #d2eafc;
}

.tier-4 {
    background-color: #ffe5d3;
}

.tier-error {
    background-color: #ffafaf;
}

